@font-face {
    font-family: 'Open Sans';
    src: url('../font/OpenSans-Regular.eot');
    src: url('../font/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/OpenSans-Regular.woff2') format('woff2'),
    url('../font/OpenSans-Regular.woff') format('woff'),
    url('../font/OpenSans-Regular.ttf') format('truetype'),
    url('../font/OpenSans-Regular.svg#OpenSans-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('../font/Raleway-Bold.eot');
    src: url('../font/Raleway-Bold.eot?#iefix') format('embedded-opentype'),
    url('../font/Raleway-Bold.woff2') format('woff2'),
    url('../font/Raleway-Bold.woff') format('woff'),
    url('../font/Raleway-Bold.ttf') format('truetype'),
    url('../font/Raleway-Bold.svg#Raleway-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
*{
    padding: 0;
    margin: 0;
}
header{ background-color: #24282f;
    padding-top: 29px}
.conteiner{
    max-width: 1093px;
    margin: auto;
}
.logo{
    float: left;
}
header nav{
    float: right;
}
header nav ul{
    list-style: none;
    display: inline-block;
}
header nav ul li{
    display: inline-block;
    float: right;
    margin-left: 46px;
    padding-top: 3px;
    padding-bottom: 33px;
}
.conteiner:after, header nav ul:after{
    content: "";
    display: block;
    clear: both;
}

header nav ul li a{
    color: #ffffff;
    font-size: 11px;
    text-transform: uppercase;
    font-family: 'Open Sans';
    text-decoration: none;
    padding: 0px 11px;
}

header nav ul li:after{
    content: "";
    display: block;
    height: 2px;
    background-color: transparent;
    width: 100%;
    position: relative;
    bottom: -37px;

}
header nav ul li:hover:after{
    background-color: #b5a263;
}

.about_as{
    background-image: url(../images/test_light_02.png);
    background-size: cover;
    padding-top: 70px;
    padding-bottom: 84px;
}
.top_block{
    max-width: 1076px;
    margin: auto;
}
.title{
    font-size: 32px;
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Raleway';
    margin-bottom: 20px;
}
.design_studio{
    font-size: 11px;
    color: #ffffff;
    line-height: 19px;
    font-family: 'Open Sans';;
}

.article_title, .article{
    font-size: 19px;
    color: #24282f;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Raleway', sans-serif;
    margin-top: 122px;
}
.article_title:after{
    content: "";
    display: block;
    width: 61px;
    height: 3px;
    background-color: #b5a263;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 27px;
}
.Management{
    max-width: 890px;
    margin: auto;
}
article{
    max-width: 246px;
    display: inline-block;
}

.soc{
    background-color: #dedede;
    width: 28px;
    display: inline-block;
    margin-left: 5px;
    border-radius: 20px;
    text-align: center;
    line-height: 28px;
    float: right;
}
.soc i{
    font-size: 12px;
    color: white;
}
.name{
    font-size: 13px;
    font-family: 'Raleway';
    text-transform: uppercase;
    color: #232323;
}

.position{
    font-size: 11px;
    font-family: 'Open Sans';
    color: #b5a263;
    line-height: 16px;
    float: left;
}
.Marketing_Manager:after{
    content: "";
    display: block;
    clear: both;
}
.Marketing{
    float: left;
    display: inline-block;
    margin-right: 81px;
}
.Creative{
    float: right;
    display: inline-block;
}
.Management:after{
    content: "";
    display: block;
    clear: both;
    margin-bottom: 98px;
}
.reviews{
    background-color: #f7f7f7;
    padding-top: 95px;
    padding-bottom: 94px;
}
.article:after{
    content: "";
    display: block;
    width: 62px;
    height: 3px;
    background-color: #24282f;
    margin: auto;
    margin-top: 23px;
    margin-bottom: 49px;
}
.layer{
   display: block;
   margin: auto;
}
.fa-chevron-left{
    float: left;
}
.fa-chevron-right{
    float: right;
}
.comment{
    font-size: 11px;
    font-family: 'Open Sans';
    color: #000000;
    line-height: 18px;
    text-align: center;
    margin-top: 31px;
    margin-bottom: 36px;
}
.general_name{
    font-size: 13px;
    font-family: 'Raleway';
    text-transform: uppercase;
    color: #b5a263;
    text-align: center;
    line-height: 25px;
}
.employees{
    font-size: 11px;
    font-family: 'Open Sans';
    color: #000000;
    text-align: center;
}

h4{
    color:#645e48;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 64px;
    padding-bottom: 23px;
}
.beforefotter{
    background-color:#2b2f35;
}
.aboutFapor {
    float:left;
    display: inline-block;
    max-width: 230px;
    margin-right: 234px;

}

.form{
    float:right;
    display: inline-block;
    max-width: 237px;
}
.contactus {
    display: inline-block;
    float: inherit;
    max-width: 142px;
}

.beforefotter:after{
    display:block;
    content: "";
    clear: both;
}


input{display: block;
    background-color: transparent;
    border: #61656b 1px solid;
    color: #61656b;
    font-size: 11px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    box-sizing: border-box;
    line-height: 29px;
}

button{
    display: block;
    background-color: #b5a263;
    color: white;
    font-size: 11px;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    line-height: 29px;
}
.beforefotter p{
    color: #6e7279;
    font-size:11px;
}
.blacklinefooter{
    background-color: #24282f;
}
.blacklinefooter p{
    color: #6e7279;
    font-size: 9px;
    padding-top: 24px;
    padding-bottom: 24px;
}





/*login page*/
.login_bg{
    background-image: url("../images/bg_login.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 420px;
    clear: both;
    content: "";
    display: block;
    }

.left_side{
    float: left;
    max-width: 480px;
    width: 100%;
}
.right_side{
    float: right;
    max-width: 450px;
    width: 100%;
}

.left_side h4{
    font: 11px/11px'Open Sans';
    color: #434343;
    padding-top: 100px;
    margin-bottom: 35px;
}
.login_bg h4:nth-child(2):after{
    content: "";
    display: block;
    width: 110px;
    height: 1px;
    background-color: black;
    margin-top: 34px;
    margin-bottom: 6px;
}
.login_bg .left_side form .form_group label{
    color: #494031;
    font:11px/11px '';
    padding-bottom: 16px;
    display: block;
    text-transform: uppercase;
}

.login_bg .left_side form .form_group input{
    border: none;
    display: block;
    margin-bottom: 36px;
    line-height: 31px;
    width: 100%;

}
.login_bg .left_side form button{
    text-transform: uppercase;
    background-color:#e7cfa6;
    color: #434343;
    border: none;
    padding-left: 55px;
    padding-right: 55px;
    display: block;
    line-height: 37px;
    border-radius: 40px;
    float: left;
}

.login_bg .left_side form a{
    float: right;
    line-height: 37px;
    color: #434343;
    font-size: 10px;
    text-transform: uppercase;
}
.login_bg .left_side .form_group
{
    max-width: 450px;
}



.login_bg .right_side form .right_group input {
    border: none;
    display: block;
    margin-bottom: 36px;
    line-height: 31px;
    width: 100%;
    background-color: #f6f6f6;
}
.login_bg .right_side form .right_group label{
    color: #494031;
    font:11px/11px '';
    padding-bottom: 16px;
    display: block;
    text-transform: uppercase;
}

.login_bg .right_side form a{
    display: block;
    float: left;
    line-height: 37px;
    background-color: #e7cfa6;
    font-size: 10px;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 55px;
    padding-right: 55px;
    border-radius: 40px;
}
.right_side h4{
    padding-top: 100px;
    margin-bottom: 35px;
}

.ui-widget.ui-widget-content{
    border: none;
}

.ui-tabs .ui-tabs-nav{
    padding: 0;
    margin: 0;

}
.ui-widget-header {
    border: none;
    background-color: #ffffff;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active{
        background-color: #e7cfa6;
        border-radius: 0;
    }
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active{
        background-color:#ffffff;
        border: none;
        text-transform: uppercase;
        color: #e5e5e5;
        position: relative;
    }
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header, .ui-state-default {
        background-color: #FFFFFF;
        border: none;
        text-transform: uppercase;
    }

.ui-state-default:after {
        content: "";
        display: block;
        width: 135px;
        height: 3px;
        background-color: #e5e5e5;
        margin-top: 34px;
        margin-bottom: 11px;
    }
.ui-state-active:after {
    content: "";
    display: block;
    width: 9px;
    height: 9px;
    background-color: #e7cfa6;
    margin-top: 34px;
    margin-bottom: 11px;
    transform: rotate(45deg);
    position: absolute;
    right: 50%;
    margin-left: 4.5px;
    top: -1px;
}